.content{
  margin: 8%;
  padding: 4rem 1rem 4rem 1rem;
  box-shadow: 0 0 5px 5px rgba(0,0,0, .05);
}

.linkStyle{
  font-weight: 700;
  cursor: grab;
  color: #8bc53f;

}


h1 {
  color: #8bc53f;
  width: 100%;
  top: 50%;
  font-weight: 600;
}

.signin-text{
  font-style: normal;
  font-weight: 600 !important;
}
.form-control{
  display: block;
  width: 100%;
  font-size:1rem;
  font-weight: 400;
  line-height: 1.5;
  border-color: #8bc53f ;
  color:#8bc53f;
  border-style: solid !important;
  border-width: 0 0 1px 0 !important;
  padding: 0px !important;
  height: auto;
  border-radius: 0;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: none;
}
.form-control:focus{
  color:#8bc53f;
  border-color: #8bc53f ;
  box-shadow: none;
  outline: 0;
}

.btn-class{
  border-color: #8bc53f ;
}
.btn-class:hover{
  background-color: #8bc53f ;
  box-shadow: none;
}

.link{
  color:#8bc53f;
}

.alertStyle{
  text-align: center;
  background-color: firebrick;
  color: white;
  margin-left: 70px;
  margin-right: 50px;

}
.secondmain{
  margin-top:10px ;

}
