.alert-custom{
  background-color:#6089D5;
  color:#fff;
  height:150px;
  width: 200px;
}

.cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 2rem;

}

.card-single{
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 2rem;
  border-radius: 2px;

}


.card-single span: first-child {
  font-size: 3rem;

}

.card-single span: last-child{
  color: var(--text-grey);
  font-size: 3rem;
}

.last-card{
  font-size: 3rem;
  background-color: #8bc53f;
}

.container{
  padding: 20px;
}
