<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="assets/images/brand.png"  class="imgLogo" alt="..."></a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link " [routerLink]="['']" >  <p class="font-weight-bold"> <i class="fa fa-home headerStyle" aria-hidden="true"> </i>  Acceuil </p></a>
      </li>


      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link " (click)="todef()" >  <p class="font-weight-bold"> <i class="fa fa-question-circle headerStyle" aria-hidden="true"> </i>  Qui sommes nous </p></a>
      </li>











    </ul>
    <div>
      <ul class="navbar-nav ml-auto">
        <div class="btnmargin">

        <button class="btn btn-class " id="submit" type="submit" (click)="toRegister()"> S'inscrire</button>
    </div>
        <button class="btn btn-class " id="submit" type="submit" (click)="toLogin()"> S'authentifier</button>
      </ul>
    </div>
    <div>

    </div>
  </nav>
</div>

<div  class="banner">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>


  <br/>

  <h1> FIRMETNA </h1>
  <br/>
  <br/>


</div>

