     <div class=" row content">
    <h3 class="font-weight-bold">AJOUT DES FRUITS ET LEGUMES</h3>
       <hr>
    <form [formGroup]="VegProductAdd" (ngSubmit)="onSubmit()">
      <div class="col-md-12">

        <div class="form-group">
          <label for="name"> Nom </label>
          <input type="text" id="name" class="form-control " formControlName="name">
        </div>

        <div class="form-group">
          <label for="description"> Description </label>
          <input type="text" id="description" class="form-control " formControlName="description">
        </div>

        <div class="form-group">

          <label for="quantity"> quantité </label>
          <div class="input-group mb-3">

          <input type="number" id="quantity" class="form-control " formControlName="quantity">
            <div class="input-group-append">
              <span class="input-group-text span-class">Kg</span>
            </div>
        </div>
        </div>


        <div class="form-group">
          <label for="priceperUnit"> Prix/kg</label>
          <div class="input-group mb-3">


          <input type="number" id="priceperUnit" class="form-control "formControlName="priceperUnit">
          <div class="input-group-append">
            <span class="input-group-text span-class">DT</span>
          </div>
        </div>
        </div>


        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text span-class" id="inputGroupFileAddon01">Télecharger</span>
            </div>
            <div class="custom-file">

              <input type="file" class="custom-file-input" accept="image/*" (change)="onSelectFile($event)" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">

              <label class="custom-file-label" for="inputGroupFile01">Choisir un fichier</label>
            </div>
          </div>
        </div>


        <div class="form-group">
          <img [src]="imgURL" height="200" *ngIf="imgURL">
        </div>

        <button class="btn btn-class" id="submit" type="submit"> Ajouter</button>
      </div>
    </form>
     </div>

