.content{
  margin: 2%;
  padding: 15px ;
}

hr {
  background-color: #8bc53f;
  height: 2px;
  width: 150px;

}
.Title{

  text-decoration: underline;
  text-decoration-color: #8bc53f;


}

.text-color{
   color:#8bc53f;
 }
.trashStyle{
  position: absolute;
  top: -10px;
  right: -10px;
  color: firebrick;
}

i{
  cursor: grab;
}

.styleC{
  cursor: grab;
}

.important{
  color: firebrick;
}
