.content{
  margin: 2%;
  padding: 15px ;
  box-shadow: 0 0 5px 5px rgba(0,0,0, .05);
}
.contentProducts{
  margin: 2%;
  padding: 15px ;
}



.span-class{
  background-color: #8bc53f;
  border: none;
}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#8bc53f;
  height: 1px;
}

.main{
  padding: 50px 0;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 600px;
  border-radius: 29px;
}

.inner{
  padding: 8px 19px  ;
}

.Dinar{
  color:#8bc53f;
  font-size: 20px;
  font-weight: 500;

}

.total{
  color:#8bc53f;
  font-size: 20px;
  font-weight: 500;
}

.amount{
  background-color: #f3f3fd ;
  border-radius: 8px;
}
.pay{
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;

}



.form-control:focus{
  box-shadow: none;
}

form .row-1 {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 0.5rem;
  outline: none;
  width: 100%;
  min-width: unset;
  border-radius: 5px;
  background-color: rgba(221, 228, 236, 0.301);
  border-color: rgba(221, 228, 236, 0.459);
  margin: 2vh 0;
  overflow: hidden
}

.inputtxt{
  font-weight: bold;
  font-size: 14px;
  padding: 21px 0px;
  border: 2px solid;

}


.alertStyle{
  background-color: firebrick;
  color: white;
}

.labeltxt{
  font-size: 13px;
  font-weight: 500;
  margin-top: 5px;
}
.secondmain{
  padding: 20px 0;
}
.failmain{
  padding: 15px 0;
  color: firebrick;
}
.important{
  color: firebrick;
}
