<div class="container">
  <div class="row content ">

    <div class="col-md-6 mb-3 ">
      <h3> Ajouter un livreur</h3>
      <hr>
      <br/>
      <form [formGroup]="AjoutLivreur" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="userName"> Nom d'utilisateur</label>
          <input type="text" id="userName" class="form-control " formControlName="userName">
          <span class="mi-help alert-danger" *ngIf="!AjoutLivreur.get('userName').valid && AjoutLivreur.get('userName').touched">
         Nom d'utilisateur invalide
        </span>

        </div>






        <div class="form-group">
          <label for="addresse"> ville </label>
          <input type="text" id="addresse" class="form-control " formControlName="addresse">

          <span class="mi-help alert-danger" *ngIf="!AjoutLivreur.get('addresse').valid && AjoutLivreur.get('addresse').touched">
           Adresse invalide
        </span>
        </div>













        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text span-class" id="inputGroupFileAddon01">Upload</span>
            </div>
            <div class="custom-file">

              <input type="file" class="custom-file-input" accept="image/*" (change)="onSelectFile($event)" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">

              <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
          </div>
        </div>


        <div class="form-group">
          <img [src]="imgURL" height="200" *ngIf="imgURL">
        </div>




        <div class="form-group">
          <label for="email"> Email</label>
          <input type="email" id="email" class="form-control" formControlName="email">
          <span class="mi-help alert-danger" *ngIf="!AjoutLivreur.get('email').valid && AjoutLivreur.get('email').touched">
         Email invalide
        </span>
        </div>

        <div class="form-group">
          <label for="telephone"> Téléphone</label>
          <input type="number" id="telephone" class="form-control" formControlName="telephone">
          <span class="mi-help alert-danger" *ngIf="!AjoutLivreur.get('telephone').valid && AjoutLivreur.get('telephone').touched">
         Numéro de téléphone invalide
        </span>
        </div>





        <div class="form-group">
          <label for="mdp"> Mot de passe </label>
          <input type="password" id="mdp" class="form-control " formControlName="mdp">
          <span class="mi-help alert-danger" *ngIf="!AjoutLivreur.get('mdp').valid && AjoutLivreur.get('mdp').touched">
          Le mot de passe doit avoir au moins 8 caractéres
        </span>
        </div>


        <button class="btn btn-class " id="submit" type="submit"> Ajouter </button>

      </form>
    </div>
  </div>
  <div *ngIf=this.isSuccessful class="justify-content-center secondmain">
    <p>
      <ngb-alert class="alertStyle" type="success" [dismissible]="false"><strong> Livreur ajouté</strong> </ngb-alert>
    </p>
  </div>


</div>


